<md-dialog aria-label="Mango (Fruit)" style="max-width:95%;max-height:95%; ">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ pais.pais }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icon">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="INFORMES">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Registros diarios</h1>
                        <table>
                            <thead>
                                <tr class="reporteDiario">
                                    <th>Fecha</th>
                                    <th>Día</th>
                                    <th>Casos Confirmados</th>
                                    <th>Var.</th>
                                    <th>%</th>
                                    <th>Muertes</th>
                                    <th>Var.</th>
                                    <th>%</th>
                                    <th>Recuperados</th>
                                    <th>Var.</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="registro in pais.data" class="reporteDiario">
                                    <td>{{ registro.dateObj | date: "dd-MM-yyyy" }}</td>
                                    <td>{{ registro.d1 }}</td>

                                    <td>{{ registro.confirmed | number:0 }}</td>
                                    <td><i ng-if="registro.varConfirmed > 0">+</i>
                                        {{ registro.varConfirmed | number:0 }}</td>
                                    <td>{{ registro.percentConfirmed | number:1 }}%</td>

                                    <td>{{ registro.deaths | number:0 }}</td>
                                    <td><i ng-if="registro.varDeaths > 0">+</i> {{ registro.varDeaths | number:0 }}</td>
                                    <td>{{ registro.percentDeaths | number:1 }}%</td>

                                    <td>{{ registro.recovered | number:0 }}</td>
                                    <td><i ng-if="registro.varRecovered > 0">+</i>
                                        {{ registro.varRecovered | number:0 }}</td>
                                    <td>{{ registro.percentRecovered | number:1 }}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Reporte">
                    <md-content class="md-padding">
                        <div id="reportContainer"></div>
                    </md-content>
                </md-tab>
                <md-tab label="Evolción de Casos">
                    <md-content class="md-padding">
                        <!-- <h1 class="md-display-2">Curva de casos</h1> -->
                        <canvas id="grafico1" width="900" height="410"></canvas>
                    </md-content>
                </md-tab>
                <md-tab label="Incremento">
                    <md-content class="md-padding">
                        <!-- <h1 class="md-display-2">Variación</h1> -->
                        <canvas id="grafico2" width="900" height="410"></canvas>
                    </md-content>
                </md-tab>
                <md-tab label="Incremento Porcentual">
                    <md-content class="md-padding">
                        <!-- <h1 class="md-display-2">Variación</h1> -->
                        <canvas id="grafico3" width="900" height="410"></canvas>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="updateGraficos()" md-autofocus>
                Actualizar Gráficos
            </md-button>
            <span flex></span>
            <md-button ng-click="answer()">
                Cerrar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>